/*
  FIGMA TEMPLATE:
  https://www.figma.com/file/6O8vL6YWk97BOjoBhiqnRQ/Untitled?type=design&node-id=0-1&mode=design&t=RozurHIHfrAoaAhf-0
*/

:root {
  --main-bg-color: #94d9ea;
  --left-section-bg-color: #00324a;
  --right-section-bg-color: #f7f7f7;
  --rigth-title: #2f80ed;
  --border: #002333;
  --progress-bar: #2f81ed5b;
  --progress: #2d9cdb;
  --text-color: #718096;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

.main-content {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: var(--left-section-bg-color);
}

.right-section {
  grid-column: span 5;
  background-color: var(--right-section-bg-color);
  height: 100%;
}

.left-content {
  padding: 2rem 3rem;
}

.profile {
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.image-container {
  width: 100%;
  text-align: center;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid var(--border);
}

.name {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.2rem 0;
}

.career {
  font-size: 1.2rem;
  color: var(--main-bg-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.main-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--right-section-bg-color);
  padding-top: 3rem;
}

.contact-info ul {
  padding-top: 2rem;
}

.contact-info ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.contact-info ul li i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: var(--progress);
}

.skills-section ul {
  padding-top: 2rem;
}

.skills-section ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.4rem 0;
}

.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: var(--progress-bar);
  position: relative;
  border-radius: 12px;
}

.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--progress);
  border-radius: 12px;
}

.js-progress {
  width: 70%;
}

.ts-progress {
  width: 65%;
}

.gitlab-progress {
  width: 30%;
}

.rxjs-progress {
  width: 80%;
}

.angular-progress {
  width: 80%;
}

.node-js-progress {
  width: 15%;
}

.html-css-progress {
  width: 80%;
}

.amplitude-progress {
  width: 15%;
}

.jira-progress {
  width: 60%;
}

.skill-title {
  text-transform: uppercase;
  color: var(--right-section-bg-color);
  font-size: 1rem;
}

.sub-title {
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--right-section-bg-color);
}

.sub-paragraf {
  color: var(--text-color);
  padding: 0.4rem 0;
}

.references-section li {
  color: var(--text-color);
  padding: 0.2rem 0;
}

.references-section li i {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--progress);
}

.right-main-content {
  padding: 2rem 3rem;
}

.right-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--rigth-title);
  margin-bottom: 1.2rem;
  position: relative;
}

.right-title::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.2rem;
  background-color: var(--text-color);
  border-radius: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.paragraf {
  line-height: 1.6rem;
  color: var(--text-color);
  font-size: 1.1rem;
}

.sect {
  padding-bottom: 2rem;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tl-title {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: var(--border);
  text-transform: uppercase;
}

.tl-title-2 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: var(--progress);
  text-transform: uppercase;
}

.tl-content {
  border-left: 1px solid var(--text-color);
  padding-left: 2rem;
  position: relative;
  padding-bottom: 2rem;
}

.tl-title-2::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--progress);
  border-radius: 50%;
  transform: translateX(-50%);
  left: 0;
}

.referee {
  color: var(--text-color);
}

.contact-form .main-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--right-section-bg-color);
  padding-top: 3rem;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 2rem;
}

.contact-form .form-group {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-form label {
  color: var(--right-section-bg-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.contact-form button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--progress);
  color: var(--right-section-bg-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: var(--rigth-title);
}

.form-group label.required::after {
  content: " *";
}

.invalid {
  border: 3px solid red;
}

.required::after {
  content: " *";
}

.error-message {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#submitButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .right-title::after {
    width: 40%;
  }
}

@media screen and (max-width: 680px) {
  .right-title::after {
    width: 30%;
  }
}

@media screen and (max-width: 780px) {
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .left-section {
    grid-column: span 3;
  }

  .right-section {
    grid-column: span 4;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .profile img {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .profile img {
    width: 60%;
  }
}

@media screen and (max-width: 390px) {
  .name {
    font-size: 1.5rem;
  }
}

